body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: #1f2335; */
  color: #3c3c3c;
  text-align: center;
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

p {
  color: rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  padding: 10px;
}

form {
  position: relative;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 1.7em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

input[type="text"] {
  border: none;
  line-height: 2.8em;
  width: 100%;
  padding-left: 1.5em;
  transition: opacity 600ms, transform 300ms;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

button {
  color: #fff;
  background: none;
  border: none;
  width: 2.1em;
  height: 2.1em;
  flex-shrink: 0;
  margin-right: 0.45em;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  padding: 0;
}
button:focus {
  outline: none;
}
button svg {
  position: absolute;
  display: block;
  width: 50%;
  height: 40%;
  top: 30%;
  left: 25%;
  margin: 0;
  fill: currentColor;
}

.icon-error {
  opacity: 0;
}

.icon-success {
  fill: transparent;
}

.icon-error path,
.icon-success path {
  stroke: #fff;
  stroke-width: 8;
}

.icon-success path {
  stroke-dasharray: 175;
  stroke-dashoffset: 175;
}

.submit-bg {
  /* background: #65D9F9; */
  background: #1f2335;
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}
.submit-bg::before, .submit-bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 500ms;
}
.submit-bg::before {
  /* background: #68D38B; */
  /* background: #5c86ff; */
  background: #1f2335;
}
.submit-bg::after {
  background: #E8426E;
}

.message {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transform: translateX(3em);
  transition: transform 500ms, opacity 250ms;
  z-index: 2;
}

form:not([data-state=typing]) input {
  transition: opacity 300ms, transform 1s;
  transform: translateX(-2em);
  opacity: 0;
}
form:not([data-state=typing]) .submit-bg {
  transform: scale(11);
}
form:not([data-state=typing]) .message {
  transform: none;
}

form[data-state=success] .submit-bg::before,
form[data-state=success] .message--success {
  opacity: 1;
}

form[data-state=error] .submit-bg::after,
form[data-state=error] .message--error {
  opacity: 1;
}






.task-container {
  position: relative;
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: left;
  margin: 55px;
  color: #1f2335;
}

@media screen and (max-width: 480px) {
  .task-container {
    max-width: 300px;
  }
}



ul {
  list-style: none;
  /* padding: 0;
  margin: 0; */
  width: 100%;
  padding-top: 10px;
}

li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 10px;
}

li input[type="checkbox"] {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin-right: 0.5rem;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li input[type="checkbox"]:checked {
  /* background-color: #5c86ff; */
  background-color: #1f2335;
  border: none;
}

li label {
  word-break: break-all;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  color: #3c3c3cd7;
}

.completed {
  text-decoration: line-through;
  color: #b7b7b7;
}






